/* var declarations */
:root {
    --main-backgroundcolor: #edffc54d;
    --header-background: ;
    --footer-background: ;
    --font: Cambria, Georgia, 'Times New Roman', serif;

}

/* global styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font)

}

/* Element referenced CSS */
body {
    background: var(--main-backgroundcolor);
    display: flex;

}

ul li{
    list-style-type: none;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #000000;
}

/* Class reference CSS */
.main-header{
    padding: 15px;
    display: flex;
    font-weight: bolder;
}

.l-column{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    font-weight: bolder;
    text-align: end;
    border-right: 5px solid #000;
}

/* ID referenced CSS */
#heading-nav-bar{
    display: flex;
    float: right;
    position: relative;

    margin-right: 15px;
    padding-top: 20px;
    font-size: 20px;
    text-align: right;

}

#main-demo{
    width: 500px;
    height: 500px;

}

#demos{
    width:200px;
    height: 200px;

}

#footer-nav-bar{
    margin-right: 15px;
    font-size: 14px;

}


/* screen size changes below value */
/* @media screen and (max-width: 767px) {

    #heading-nav-bar, 
      #footer-nav-bar{
        display: none;
    }

} */